
.AA{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    margin:12px;
}

.BB{
    margin:12px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
}

.hiii{
    color:white;
    background-color:black;
}

a{
    margin:12px;
}

.divbtn{
    float:left;
}

h2{
    text-align:center;
    padding-top:30px;
}